<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="header_Gral">
      <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>


      <div class="caja_Menu">
        <details>
          <summary class="sumario"> HOLA 1</summary>
          <nav class="menu_Gral">
            <ul><li><a href="/">HOME</a></li></ul>
            <ul><li><a href="">PELICULAS</a></li></ul>
            <ul><li><a href="">GENEROS</a></li></ul>
            <ul><li><a href="">ACTORES</a></li></ul>
          </nav>
        </details>
        <details>
          <summary class="sumario"> HOLA 2</summary>
          <nav class="menu_Gral">
            <ul><li><a href="/">HOME</a></li></ul>
            <ul><li><a href="">PELICULAS</a></li></ul>
            <ul><li><a href="">GENEROS</a></li></ul>
            <ul><li><a href="">ACTORES</a></li></ul>
          </nav>
        </details>


      </div>
<!--       <div class="caja_Menu">
        
      </div>
 -->    
    </header>
    
    
    
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
  </body>
</html>
