<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordenas por fecha</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    
    <%- include('./partials/header') %> 
    <main class="listado">
        <div class="caja_listado">
            <h1 class="titulo">ESTRENOS</h1>
            <ul>
                <% for( let i = 0; i < movies.length; i++ ) { %>
                <li class="info">
                    <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a> <br>
                    <%= 'RELEASE DATE: ' + moment (movies[i].release_date).format('YYYY-MM-DD') %>
                    <hr> 
                </li>
                <% } %>
            </ul>
        </div>
    </main>

</body>
</html>
