<header class="header_Gral">
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <div class="caja_Menu">
        <div class="menu_Gral">
          <nav>
            <ul class="menu_Gral_ul">
              <li><a href="/">HOME</a></li>
              <li><a href="">PELICULAS</a>
                <ul class="menu_Gral_ul">
                  <li><a href="/movies/">listar</a></li>
                  <li><a href="/movies/new">estrenos</a></li>
                  <li><a href="/movies/recommended">recomendadas</a></li>
                </ul>
              </li>
              <li><a href="/genres/">GENEROS</a></li>
              <li><a href="/actors/">ACTORES</a></li>
            </ul>
          </nav>
        </div>  
    </div>    
  </header>
  